<h1 id="main_heading" style="text-align: center;">Inception</h1>
<form action="https://www.google.com/search" method="get" style="text-align: center;">
    <input name="query" type="text" placeholder="Is there anything in mind">
<br>
    <input type="submit">
</form>